[package]
name = "paper"
version = "0.2.0"
authors = ["Justin Simerly <jsim2010@gmail.com>"]
description = "A terminal-based editor with goals to maximize simplicity and efficiency."
license = "MIT"
repository = "https://github.com/jsim2010/paper"
readme = "README.md"
keywords = ["editor", "mode", "filter"]
categories = ["command-line-utilities", "text-editors"]
edition = "2018"

[dependencies]
clap = "2.32.0"
rec = { path = "../rec" }
regex = "1.1.0"
spectral = "0.6.0"
try_from = "0.3.2"
version-sync = "0.7"

# Must specify win32 feature to ensure application does not open new window.
[dependencies.pancurses]
version = "0.16"
features = ["win32"]
