name: Validate Project
on: [push]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: checkout project
      uses: actions/checkout@v2
    - name: set cargo permissions to allow cache to work
      run: sudo chown -R $(whoami):$(id -ng) ~/.cargo/
    - name: cache cargo binaries
      uses: actions/cache@v1
      id: cache
      with:
        path: ~/.cargo/bin
        key: cargo-bin_2020-04-20
    - name: install just
      if: steps.cache.outputs.cache-hit != 'true'
      run: cargo install just
    - name: update rust
      run: cargo install --list && rustup update 1.42.0
    - name: validate
      run: just validate
